# flyctl launch added from .gitignore
**/node_modules
**/server/target
**/.env
**/dist


**/.vscode/*
!**/.vscode/extensions.json
**/.idea
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?

# flyctl launch added from dashboard/.gitignore
# Logs
dashboard/**/logs
dashboard/**/*.log
dashboard/**/npm-debug.log*
dashboard/**/yarn-debug.log*
dashboard/**/yarn-error.log*
dashboard/**/pnpm-debug.log*
dashboard/**/lerna-debug.log*

dashboard/**/node_modules
dashboard/**/.DS_Store
dashboard/**/dist
dashboard/**/dist-ssr
dashboard/**/coverage
dashboard/**/*.local

dashboard/cypress/videos
dashboard/cypress/screenshots

# Editor directories and files
dashboard/**/.vscode/*
!dashboard/**/.vscode/extensions.json
dashboard/**/.idea
dashboard/**/*.suo
dashboard/**/*.ntvs*
dashboard/**/*.njsproj
dashboard/**/*.sln
dashboard/**/*.sw?
fly.toml
