# flyctl launch added from .gitignore
**/node_modules
**/server/target
**/.env
**/dist


**/.vscode/*
!**/.vscode/extensions.json
**/.idea
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?

# flyctl launch added from frontend/.gitignore
# Logs
frontend/**/logs
frontend/**/*.log
frontend/**/npm-debug.log*
frontend/**/yarn-debug.log*
frontend/**/yarn-error.log*
frontend/**/pnpm-debug.log*
frontend/**/lerna-debug.log*

frontend/**/node_modules
frontend/**/.DS_Store
frontend/**/dist
frontend/**/dist-ssr
frontend/**/coverage
frontend/**/*.local

frontend/cypress/videos
frontend/cypress/screenshots

# Editor directories and files
frontend/**/.vscode/*
!frontend/**/.vscode/extensions.json
frontend/**/.idea
frontend/**/*.suo
frontend/**/*.ntvs*
frontend/**/*.njsproj
frontend/**/*.sln
frontend/**/*.sw?
fly.toml
