// Background
$color-background: #FAFAFB;
$color-background-content-primary: #FFFFFF;
$color-background-content-secondary: #EBECEE;
$color-background-content-tertiary: #F5F5F6;
$color-background-accent-primary: #0B6DE3;
$color-background-accent-primary-tint: #E7F0FC;
$color-background-accent-secondary: #A4AAB1;
$color-background-accent-secondary-tint: #E7FCF0;
$color-background-positive: #08A179;
$color-background-positive-tint: #E7FCF0;
$color-background-negative: #E3150B;
$color-background-negative-tint: #FCE7E7;
$color-background-warning: #E3810B;
$color-background-warning-tint: #FCEFE7;
$color-image-placeholder: #EBECEE;

// Background states
$color-background-content-primary-hovered: #F5F5F6;
$color-background-accent-primary-hovered: #0A63CF;
$color-background-accent-secondary-hovered: #07936E;
$color-background-negative-hovered: #CF130A;
$color-background-secondary-hovered: #DEE0E3;
$color-background-tertiary-hovered: #EBECEE;
$color-background-accent-primary-active: #084DA1;
$color-background-accent-secondary-active: #055F2D;
$color-background-negative-active: #A10F08;
$color-background-secondary-active: #C0C4C9;
$color-background-tertiary-active: #DEE0E3;
$color-background-content-primary-active: #EBECEE;
$color-background-disabled: #F5F5F6;
$color-background-content-primary-disabled: #B3D2F6;
$color-background-positive-hovered: #07936E;

// Text
$color-text-primary: #021226;
$color-text-secondary: #3C4958;
$color-text-tertiary: #767F8A;
$color-text-placeholder: #A4AAB1;
$color-text-accent-primary-on-tint: #0A63CF;
$color-text-subhead: #3C4958;
$color-text-contrast: #FFFFFF;
$color-text-accent-primary: #0B6DE3;
$color-text-accent-secondary: #067D3B;
$color-text-positive: #067D3B;
$color-text-negative: #E3150B;
$color-text-negative-on-tint: #CF130A;
$color-text-warning: #E3810B;
$color-text-highlight: #B3D2F6;

// Text states
$color-text-disabled: #C0C4C9;
$color-text-accent-primary-disabled: #B3D2F6;
$color-text-negative-disabled: #F6B6B3;

// Icon
$color-icon-primary: #021226;
$color-icon-secondary: #3C4958;
$color-icon-tertiary: #767F8A;
$color-icon-subhead: #3C4958;
$color-icon-contrast: #FFFFFF;
$color-icon-accent-primary: #0B6DE3;
$color-icon-accent-secondary: #067D3B;
$color-icon-positive: #067D3B;
$color-icon-negative: #E3150B;
$color-icon-warning: #E3810B;
$color-icon-link: #0A63CF;
$color-icon-placeholder: #A4AAB1;
$color-icon-accent-primary-on-tint: #0A63CF;
$color-icon-negative-on-tint: #CF130A;

// Icon states
$color-icon-disabled: #C0C4C9;
$color-icon-accent-primary-disabled: #B3D2F6;
$color-icon-negative-disabled: #F6B6B3;

// Stroke
$color-separator-primary: #EBECEE;
$color-stroke-accent: #0B6DE3;
$color-stroke-positive: #08A179;
$color-stroke-negative: #E3150B;
$color-field-border-invert: #DEE0E3;
$color-image-border: #F5F5F6;

// Other background
$color-field-background: #FAFAFB;
$color-image-placeholder-accent: #E7F0FC;
$color-avatar-overlay-alpha: #3C4958A3;
$color-background-tooltip: #1E2C3E;
