// Background
$color-background: #fafafb;
$color-background-content-primary: #fff;
$color-background-content-secondary: #ebecee;
$color-background-content-tertiary: #f5f5f6;
$color-background-accent-primary: #0b6de3;
$color-background-accent-primary-tint: #e7f0fc;
$color-background-accent-secondary: #08a179;
$color-background-accent-secondary-tint: #e7fcf0;
$color-background-positive: #08a179;
$color-background-positive-tint: #e7fcf0;
$color-background-negative: #e3150b;
$color-background-negative-tint: #fce7e7;
$color-background-warning: #e3810b;
$color-background-warning-tint: #fcefe7;
$color-image-placeholder: #ebecee;

// Background states
$color-background-content-primary-hovered: #f5f5f6;
$color-background-accent-primary-hovered: #0a63cf;
$color-background-accent-secondary-hovered: #07936e;
$color-background-negative-hovered: #cf130a;
$color-background-secondary-hovered: #dee0e3;
$color-background-tertiary-hovered: #ebecee;
$color-background-accent-primary-active: #084da1;
$color-background-accent-secondary-active: #055f2d;
$color-background-negative-active: #a10f08;
$color-background-secondary-active: #c0c4c9;
$color-background-tertiary-active: #dee0e3;
$color-background-content-primary-active: #ebecee;
$color-background-disabled: #f5f5f6;
$color-background-content-primary-disabled: #b3d2f6;
$color-background-positive-hovered: #07936e;

// Text
$color-text-primary: #021226;
$color-text-secondary: #3c4958;
$color-text-tertiary: #767f8a;
$color-text-placeholder: #a4aab1;
$color-text-accent-primary-on-tint: #0a63cf;
$color-text-subhead: #3c4958;
$color-text-contrast: #fff;
$color-text-accent-primary: #0b6de3;
$color-text-accent-secondary: #067d3b;
$color-text-positive: #067d3b;
$color-text-negative: #e3150b;
$color-text-negative-on-tint: #cf130a;
$color-text-warning: #e3810b;
$color-text-highlight: #b3d2f6;

// Text states
$color-text-disabled: #c0c4c9;
$color-text-accent-primary-disabled: #b3d2f6;
$color-text-negative-disabled: #f6b6b3;

// Icon
$color-icon-primary: #021226;
$color-icon-secondary: #3c4958;
$color-icon-tertiary: #767f8a;
$color-icon-subhead: #3c4958;
$color-icon-contrast: #fff;
$color-icon-accent-primary: #0b6de3;
$color-icon-accent-secondary: #067d3b;
$color-icon-positive: #067d3b;
$color-icon-negative: #e3150b;
$color-icon-warning: #e3810b;
$color-icon-link: #0a63cf;
$color-icon-placeholder: #a4aab1;
$color-icon-accent-primary-on-tint: #0a63cf;
$color-icon-negative-on-tint: #cf130a;

// Icon states
$color-icon-disabled: #c0c4c9;
$color-icon-accent-primary-disabled: #b3d2f6;
$color-icon-negative-disabled: #f6b6b3;

// Stroke
$color-separator-primary: #ebecee;
$color-stroke-accent: #0b6de3;
$color-stroke-positive: #08a179;
$color-stroke-negative: #e3150b;
$color-field-border-invert: #dee0e3;
$color-image-border: #f5f5f6;

// Other background
$color-field-background: #fafafb;
$color-image-placeholder-accent: #e7f0fc;
$color-avatar-overlay-alpha: #3c4958a3;
$color-background-tooltip: #1e2c3e;
$shadow: rgb(2 18 38 / 8%);
